{% extends "layout.html" %}
{% block article_body %}

{{ data.text.introParagraph | md }}

<div id="timeline-wrapper" class="o-grid-container">
  <div id="timeline-container" class="o-grid-row">
    <div class="timeline__ends" id="timeline__ends__start">
      <div class="timeline__circle__text">
        <div class="timeline__circle__text-date">Jan 20</div>
        <div>Trump takes office</div>
      </div>
    </div>
    <div id="timeline">
      <div class="timeline__circle timeline__circle__end" style="left: 0"></div>
      {% for event in data.events %}
        <div class="timeline__circle {% if loop.index0 == 0 %} selected {% endif %}" style="left: {{ (event.numDay + 1)}}%" data-card-id={{ loop.index0 }}>
          <div class="timeline__circle__text">
            <div class="timeline__circle__text-date">{{ event.dateTimelineFormatted }}</div>
            <div>Day {{ event.numDay + 1 }}</div>
          </div>
        </div>
      {% endfor %}
      <div class="timeline__circle timeline__circle__end" style="left: 100%"></div>
      <div id="timeline__line"></div>
    </div>
    <div class="timeline__ends" id="timeline__ends__end">
      <div class="timeline__circle__text">
        <div class="timeline__circle__text-date">Apr 29</div>
        <div>100th day in office</div>
      </div>
    </div>
  </div>
</div>

<div class="o-grid-container">
{% for event in data.events %}

{% if event.marketindicator %}
  {% set colwidth = "S6 12" %}
{% else %}
  {% set colwidth = "12" %}
{% endif %}

<div class="card o-grid-row {% if loop.index0 == 0 %} selected {% endif %}" data-card-id={{ loop.index0 }}>
  <div class="card__description" data-o-grid-colspan={{ colwidth }}>
    <div class="card__date"><span class="card__day">Day {{ event.numDay + 1 }} |</span> {{ event.date }}</div>
    <h2 class="card__headline">{{ event.headline }}</h2>
    <div class="card__text">{{ event.text | md }}</div>
  </div>

  {% if event.marketindicator %}
  <div class="chart"
    data-indicator="{{ event.marketindicator }}"
    data-start="{{ event.chartstartdate }}"
    data-end="{{ event.chartenddate }}"
    data-chartpoint="{{ event.chartpoint }}"
    data-xaxishighlight="{{ event.chartxaxishighlight }}"
    data-xaxishighlighttext="{{ event.chartxaxishighlighttext }}"
    data-yaxishighlight="{{ event.chartyaxishighlight }}"
    data-o-grid-colspan="S6 12"
  >
    <div class="chart__title">{{ event.charttitle }}</div>
    <div class="chart__subtitle">{{ event.chartsubtitle }}</div>
    <div class="chart_container"></div>
  </div>
  {% endif %}
</div>
{% endfor %}
</div>

{% endblock %}
