@import 'o-grid/main';

$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;

body {
  @include oColorsFor(page, background);
  margin: 0;
  border: 0;
  font-family: $font-sans;
}

$share-button-size: 38px;
.o-share--muted {
  .o-share__action {
    line-height: $share-button-size;

    a {
      width: $share-button-size;
      &:hover {
      }
    }

    i {
      width: $share-button-size;
      height: $share-button-size;
      text-indent: $share-button-size;
      border: 1px solid #e9decf;
      &:hover {
        opacity: 1;
        background-color: #e9decf;
      }
    }

    &--twitter i {
      background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS04MS44NjItODkuNzg2Yy0uODIuMzU3LTEuNy42LTIuNjI0LjcwOC45NDMtLjU1NiAxLjY2OC0xLjQzNiAyLjAxLTIuNDgzLS44ODMuNTEtMS44NjIuODgtMi45MDIgMS4wOC0uODMzLS44Ny0yLjAyLTEuNDItMy4zMzctMS40Mi0yLjUyMyAwLTQuNTcgMi4wMS00LjU3IDQuNDkgMCAuMzUuMDQuNjkuMTE4IDEuMDItMy44LS4xOS03LjE2Ny0xLjk3OC05LjQyLTQuNjktLjM5NC42Ni0uNjIgMS40My0uNjIgMi4yNiAwIDEuNTUuODA3IDIuOTMgMi4wMzMgMy43My0uNzUtLjAyNS0xLjQ1NC0uMjI4LTIuMDctLjU2di4wNTRjMCAyLjE3NiAxLjU3MyAzLjk5IDMuNjY3IDQuNC0uMzg0LjEwNC0uNzkuMTYtMS4yMDQuMTYtLjMgMC0uNTgtLjAyNy0uODYtLjA4LjU4IDEuNzgyIDIuMjcgMy4wOCA0LjI3IDMuMTE2LTEuNTcgMS4yMDUtMy41NCAxLjkyMy01LjY4IDEuOTIzLS4zNyAwLS43NC0uMDI2LTEuMDktLjA2NyAyLjAyIDEuMjcyIDQuNDIgMi4wMTUgNyAyLjAxNSA4LjQgMCAxMy02Ljg0IDEzLTEyLjc3IDAtLjE5NC0uMDA3LS4zOS0uMDE4LS41OC44OS0uNjMzIDEuNjY1LTEuNDI1IDIuMjgtMi4zMjV6Ii8+PC9zdmc+)
    }

    &--facebook i {
      background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTQgLTEwNSA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS05Ny05MS40NHYyLjk1aC0yLjE3djMuNjJILTk3djEwLjcyaDQuNDN2LTEwLjcyaDNzLjI2LTEuNzMuNC0zLjYyaC0zLjM4di0yLjQ3YzAtLjM3LjUtLjg3Ljk2LS44N2gyLjQzdi0zLjc1aC0zLjI4Yy00LjY2IDAtNC41NSAzLjYzLTQuNTUgNC4xNnoiLz48L3N2Zz4=)
    }
  }
}

.article {
  &-head {
    margin-top: 18px;
    margin-bottom: 18px;
    .o-share--vertical {
      float: right;
      .o-share__action {
        margin: 0 0 0 5px;
        a,
        a:first-child {
          padding-top: 0;
          padding-bottom: 5px;
        }
      }
    }
  }

  &-body {
    & > :not(.graphic) {
      max-width: 625px;
      margin: 1em auto;
      padding: 0 0.75em;
    }

    #intro {
      margin-bottom: 2em;
    }

    .card {
      background: #FDF8F2;
      box-shadow: 0 1px 2px 1px rgba(0,0,0,0.15);
      border-radius: 4px;
      box-sizing: border-box;
      padding: 1em;
      padding-top:40px;
      margin-bottom: 2.5em;
      position: relative;

      &.selected {
        border: 2px solid #26747a;

        .card__date {
          background-color: getColor('teal-1');
        }
      }

      &__description {
        width: 50%;
        position:relative;
      }

      &__date {
        width: 190px;
        height: 16px;
        background-color: #a7a59b;
        border-radius:2px;
        text-transform: uppercase;
        color:#ffffff;
        font-weight: 600;
        font-size: 0.85em;
        letter-spacing: 1.1px;
        padding: 10px;
        position:absolute;
        top: -20px;
        left: 35px;

        @include oGridRespondTo($until: M) {
          left: 25px;
        }
      }

      &__day {
        font-weight:normal;
      }

      &__headline {
        margin-top: 0;
        margin-bottom: 0.5em;
        padding-top: 0;
        font-size: 1.3em;
        line-height: 1.2em;
      }

      &__text p {
        font-family: MetricWeb, sans-serif;
        color:#777777;
        line-height: 1.3em;
      }

      .chart {
        width: 50%;
        display: inline-block;

        &__title {
          color:#333;
          font-size:0.95em;
          font-weight: 500;
          margin-top:5px;
        }

        &__subtitle {
          color:#74736c;
          margin-top:6px;
          font-size: 0.9em;
        }

        .tick {
          font-family: MetricWeb, sans-serif;
        }
      }
    }
  }
}

.graphic {

  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;

  & > img,
  & > svg {
    width: 100%;
    height: auto;
    display: block;
  }

  &-b-0 {
    max-width: 625px;
  }

  &-b-1 {
    max-width: 700px;
  }

}

.enhanced .o-date {opacity: 0;}
.enhanced.js-success .o-date {opacity: 1;}

.article-head .o-share--vertical .o-share__action {
  box-sizing: content-box !important;
}

@media (max-width: 950px) {
  .article-body {
    .card.selected {
      border: none;

      .card__date {
        background-color: #a7a59b;
      }
    }
  }
}
