@import 'o-grid/main';

#timeline-wrapper {
  margin: 5em auto 4em auto;
  max-width: 825px;

  @include oGridRespondTo($until: M) {
    height: 0;
    overflow: hidden;
    margin: 1em;
  }

  #timeline-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #timeline-container.tacked {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: getColor('grey-tint4');
    color: white;
    padding: 0.8em;
    overflow: hidden;
    z-index: 5;
    box-shadow: 1px 1px 1px 1px rgba(176, 176, 176, 0.5);
    padding: 5em 50px 4em;
    margin: 0;

    .timeline__ends {
      color: white;
    }

    .timeline__ends#timeline__ends__start {
      left: 0;
    }

    .timeline__ends#timeline__ends__end {
      right: 0;
    }
  }

  .timeline__ends {
    width: 100px;
    display: inline-block;
    position: absolute;
    margin-top: -1em;
    color: getColor('pink-tint5');

    &#timeline__ends__start {
      left: -40px;
    }

    &#timeline__ends__end {
      right: -40px;
    }

    .timeline__circle__text {
      text-align: center;

      &-date {
        font-weight: 600;
      }
    }
  }

  #timeline {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    #timeline__line {
      width: 100%;
      height: 4px;
      background: getColor('grey-tint1');
    }

    .timeline__circle {
      position: absolute;
      top: -5px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: getColor('teal-1');

      .timeline__circle__text {
        display: none;
      }

      &.selected {
        border: 3px solid getColor('teal-2');
        width: 10px;
        height: 10px;
        background: white;
        z-index: 5;

        .timeline__circle__text {
          display: block;
          text-align: center;
          width: 500%;
          margin-left: -250%;
          margin-top: -3em;

          &-date {
            font-weight: 600;
          }
        }
      }
    }

    .timeline__circle__end {
      background: grey;
      opacity: 1;
    }
  }
}
